<!DOCTYPE html>
<html lang="it" style="height: 100%; width: 100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="htmx-config" content='{"code2":".*", "swap": "true"}'>
  <!-- libs -->
  <link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.css">
  <script src="static/lib/bootstrap/js/bootstrap.js"></script>
  <script src="static/lib/htmx/htmx.min.js"></script>
  <!-- local -->
  <link rel="stylesheet" href="static/styles/main.css">
  <title>Lucky chess</title>
</head>

<body class="h-100 w-100" style="overflow: hidden;">
  <!--side menu-->
  <div style=" max-width:300px; display:flex; width: fit-content;" class="bg-primary h-100 position-absolute">
    <div style="display: flex; width: 50px; height:100%;">
      <button data-bs-target="#sideMenu" style="height: 50px; width: 50px;" data-bs-toggle="collapse"
        class="btn btn-primary">
        X
      </button>
    </div>
    <div id="sideMenu" class="collapse collapse-horizontal">
      <div style="width: 250px;height: 100%; margin: 2rem; box-sizing: border-box;">
        asd
      </div>
    </div>
  </div>
  <!--content-->
  <div style="padding-top: 10px; padding-bottom: 10px; padding-left:50px;" class="container-fluid h-100"
    hx-swap="innerHTML" hx-get="/game" hx-trigger="load">
    <!-- main row: keep single -->

  </div>

  </div>
  </div>
  <div hx-trigger="load" hx-get="/getStatusDialog" hx-swap="outerHTML">

  </div>
</body>


</html>