<div class="row h-100">
  <div class="col-4 ">

    <!-- cards ui -->
    <!-- TODO: move cards ui to component -->
    <div class="row h-25" style=" background-color:rgba(200,0,0 ,0.1);">
      <!-- opponent cards -->
      <div style="height: 200px; width: 125px; border-radius: 4px; background-color: red;" class="d-flex m-auto me-3">
      </div>
    </div>
    <div class="row h-50">
      <!-- shared ui -->
      <div style="height: 200px; width: 125px; border-radius: 4px; background-color: red;" class="d-flex m-auto ">
        <!-- deck -->
      </div>
    </div>
    <div class="row h-25 " style="background-color:rgba(0,200,0 ,0.1);  ">
      <!-- self cards -->
      <div style="height: 200px; width: 125px; border-radius: 4px; background-color: red;" class="d-flex m-auto me-3">
      </div>
    </div>
  </div>
  <div class="col-8 ">
    <!-- chess ui -->
    <div style="height: 15%;background-color:rgba(200,0,0 ,0.1);" class="row  ">
      <!--opponent ui-->
      <!--TODO: move content to component -->
    </div>
    <div class="row" style="height: 70%;">
      <!--shared ui-->
      <!--TODO: move content to component -->

      <div id="board" class="h-100 w-100 d-flex" hx-get="/board" hx-swap="innerHTML" hx-trigger="load, requestError"
        hx-on:htmx:response-error="onBoardResponseError(event)">
      </div>
    </div>
    <div class="row " style="height: 15%; background-color:rgba(0,200,0 ,0.1);">
      <!--self ui-->
      <!--TODO: move content to component -->
    </div>
  </div>
</div>
<script>
  let boardRetries = 0
  const onBoardResponseError = e => {

    if (e.target.id != 'board') return

    if (boardRetries > 2) {
      alert('too many retires!\ntry again later.')
      return
    }
    console.log('couldn\'t load game, retrying...')
    htmx.trigger(e.target, 'requestError')
    boardRetries++
  }
</script>