<div style="display:contents;" hx-on="htmx:beforeSwap:NO_USER._cleanup">
  <dialog id="dialogUser">
    <form method="modal" hx-swap="none" hx-post="/user/registerNickname"
      hx-on="htmx:afterRequest:NO_USER.onRegisterNickname(event)" style="height: 100%;">

      <div class="modal-content" style="height: 100%;">
        <div class="modal-header" style="padding-bottom: 20px;">
          <h3>Register a nickname</h1>
        </div>
        <div class="modal-body">
          <input required placeholder="type your nickname..." name="nickname" type="text" style="width: 100%;">
        </div>
        <div class="modal-footer" style="padding-top: 20px">
          <button type="submit" class="btn btn-success pull-right">
            Confirm
          </button>
        </div>
      </div>
    </form>
  </dialog>

  <script>

    htmx.onLoad(() => {
      htmx.find('#dialogUser')
        ?.showModal()
    })

    window.NO_USER = {
      /**@type {(e:Event)=>void}*/
      onRegisterNickname: function (e) {
        /**@type {HTMLDialogElement}*/
        const dialogUser = htmx.find('#dialogUser')

        if (e.detail.failed) {
          alert(`Couldn't register nickname`)
          return
        }

        htmx.ajax('GET', '/getStatusDialog', {
          event: e,
          swap: 'outerHTML',
          target: htmx.find('#dialogUser').parentElement
        })
      },
      _cleanup: () => window.NO_USER = undefined
    }
  </script>

</div>